body {
    font-family: "Helvetica-Neueu", sans-serif;
    margin: 0;
}

nav {
    background-color: #333;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 80px;
    
}
.main-nav {
    display: flex;
    align-items: center;
    margin: 0;
}

.logo-container {
    background-color: red;
    height: 100px;
}

img {
    color: white;
}

nav ul {

    list-style-type: none;
    display: flex;
    gap: 10px;
}